adbc_driver_manager==1.6.0
adbc_driver_postgresql==1.6.0
adbc_driver_sqlite==1.6.0
ads==0.12.7
aerospike_vector_search==4.2.0
ain==0.0.2
aiodns==3.5.0
airbyte_cdk==6.56.1
aleph_alpha_client==10.4.0
alibabacloud_ha3engine_vector==1.1.17
alibabacloud_tea_util==0.3.13
anywidget==0.9.18
apify_client==1.11.0
AppKit==0.2.8
arango==0.2.1
arcgis==2.4.1.1
argilla==2.8.0
arize==7.45.0
arthurai==3.33.3
astrapy==2.0.1
async_timeout==5.0.1
atheris==2.3.0
atlassian==0.0.0
authlib==1.6.0
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
barcode_generator==0.1rc15
bibtexparser==1.4.3
bigdl==2.4.0
bilibili_api==9.1.0
bokeh==3.7.3
boto3==1.38.39
botocore==1.38.39
brotli==1.1.0
brotlicffi==1.1.0.0
camelot_py==1.0.0
cassio==0.1.10
cffi==1.17.1
chromadb==1.0.13
clarifai_grpc==11.5.5
clickhouse_connect==0.8.17
cloudpathlib==0.21.1
cloudpickle==3.1.1
comet_llm==2.2.7
ConfigParser==7.2.0
confluent_kafka==2.10.1
cudf==0.6.1.post1
cupy==13.4.1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
cython==3.1.1
dask==2025.5.1
dask_expr==2.0.0
datadog_api_client==2.36.0
datasets==3.6.0
deepeval==3.1.5
defusedxml==0.7.1
dgml_utils==0.3.4
dingodb==0.0.18
dl==0.1.0
doctran==0.0.14
docutils==0.21.2
docx2txt==0.9
docxtpl==0.20.0
dria==0.0.124
dynamodb_encryption_sdk==3.3.0
e2b==1.5.2
elevenlabs==2.3.0
email_validator==2.2.0
esprima==4.0.1
eval_type_backport==0.2.2
exceptiongroup==1.3.0
extract_msg==0.54.1
fake_useragent==2.2.0
faster_whisper==1.1.1
fastparquet==2024.11.0
feedparser==6.0.11
firebase_admin==6.9.0
fitz==0.0.1.dev2
flashrank==0.2.10
flytekit==1.16.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2025.5.1
geopandas==1.1.0
gitdb_speedups==0.1.0
gliner==0.2.21
google_api_python_client==2.172.0
google_auth_oauthlib==1.2.2
googlemaps==4.10.0
gptcache==0.1.44
gpudb==7.2.2.9
gql==3.5.3
gradientai==1.13.1
grandalf==0.8
graphviz==0.21
grpcio==1.71.0
guardrails==2.0.0
gunicorn==23.0.0
h2==4.2.0
hdbcli==2.24.26
hologres_vector==0.0.10
HTMLParser==0.0.2
hypothesis==6.135.11
ibis==3.3.0
ibm_watsonx_ai==1.3.26
infinity_client==0.0.76
infinity_emb==0.0.76
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipaddr==2.2.0
ipython==8.12.3
ipywidgets==8.1.7
isoduration==20.11.0
jaguardb_http_client==3.4.4
javelin_sdk==0.2.37
jnius==1.1.0
joblib==1.5.0
JPype1==1.5.2
jq==1.9.1
kdbai_client==1.6.1
keybert==0.9.0
keyring==25.6.0
label_studio_sdk==1.0.18
langchain_anthropic==0.3.15
langchain_astradb==0.6.0
langchain_aws==0.2.26
langchain_azure_ai==0.1.4
langchain_chroma==0.2.4
langchain_cohere==0.4.4
langchain_deepseek==0.1.3
langchain_elasticsearch==0.3.2
langchain_experimental==0.3.4
langchain_fireworks==0.3.0
langchain_google_genai==2.1.5
langchain_google_vertexai==2.0.25
langchain_groq==0.3.2
langchain_huggingface==0.3.0
langchain_ibm==0.3.12
langchain_mistralai==0.2.10
langchain_mongodb==0.6.2
langchain_neo4j==0.4.0
langchain_nvidia_ai_endpoints==0.3.10
langchain_openai==0.3.24
langchain_perplexity==0.1.1
langchain_pinecone==0.2.8
langchain_postgres==0.0.14
langchain_qdrant==0.2.0
langchain_together==0.3.0
langchain_weaviate==0.0.5
langchain_xai==0.2.4
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
lark==1.2.2
laser_encoders==0.0.2
librosa==0.11.0
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lockfile==0.12.2
lorax==0.94.86
lxml==4.6.3
lxml==5.4.0
manticoresearch==8.0.0
mask==1.0.0
matplotlib==3.10.3
mediawikiapi==1.3
metal_sdk==2.5.1
mlx_lm==0.25.2
modelscope==1.27.0
modin==0.33.2
motor==3.7.1
msal==1.32.3
mtrand==0.1
mwparserfromhell==0.6.6
mwxml==0.3.6
mypy_boto3_secretsmanager==1.38.0
nest_asyncio==1.6.0
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.5.3
nucliadb_models==6.6.1.post4619
nucliadb_protos==6.6.1.post4619
numarray==1.5.1
Numeric==24.2
numexpr==2.11.0
O365==2.1.4
objgraph==3.6.2
obs==0.0.0
oci==2.154.2
odfpy==1.4.1
odps==3.5.1
olefile==0.47
openapi_pydantic==0.5.1
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.68
opencv_python_headless==4.11.0.86
openpyxl==3.1.5
optimum==1.26.1
ordereddict==1.1
outcome==1.3.0.post0
pdf2image==1.17.0
pinecone_text==0.10.0
pkgutil_resolve_name==1.3.10
plotly==6.1.2
polars==1.31.0
praw==7.8.1
promptlayer==1.0.55
psutil==7.0.0
psychicapi==0.8.4
pyairtable==3.1.1
pycares==4.9.0
pycurl==7.45.6
pydub==0.25.1
pyepsilla==0.3.14
pygame==2.6.1
pygraphviz==1.14
pyinstaller==6.8.0
PyJWT==2.10.1
pymemcache==4.0.0
pymilvus==2.5.11
pymongo==4.13.2
pymupdf==1.26.1
pyodide==0.0.2
pyOpenSSL==25.1.0
pyowm==3.3.0
pypdf==5.6.0
PyPDF2==3.0.1
pyperf==2.9.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt5_sip==12.13.0
PyQt6==6.9.1
PySide6==6.7.2
PySide6==6.9.1
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
pyspark==4.0.0
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
pytest==8.4.1
python-decouple==3.8
python_bcrypt==0.3.2
python_calamine==0.3.2
pyTigerGraph==1.9.0
pytube==15.0.0
pywin32==310
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.14.3
qianfan==0.4.12.3
qtpy==2.4.3
railroad==0.5.0
rank_bm25==0.2.2
rank_llm==0.21.0
rapidfuzz==3.13.0
rapidocr_onnxruntime==1.4.4
rdflib==7.1.4
rembg==2.0.66
reportlab==4.4.2
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rizaio==0.11.0
rockset==2.1.2
rspace_client==2.6.1
runhouse==0.0.42
s3fs==2025.5.1
scipy==1.15.3
scipy_doctest==1.8.0
scrapingant_client==2.1.0
selenium==4.33.0
semantic_version==2.10.0
sets==0.3.2
setuptools_scm==8.3.1
simplejson==3.20.1
simsimd==6.4.9
slack_sdk==3.35.0
socksio==1.0.0
sodapy==2.2.0
speechkit==2.2.3
Sphinx==8.2.3
sqlcipher3==0.5.4
sqlframe==3.35.1
sqlite_vec==0.1.6
sqlite_vss==0.1.2
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
sympy==1.14.0
tables==3.10.2
tabula==1.0.5
tabula_py==2.10.0
takeoff_client==0.6.0
telethon==1.40.0
tensorflow_text==2.19.0
text_generation==0.7.0
textractor==0.1.2
thirdai==0.9.33
threadpoolctl==3.6.0
tigrisdb==1.0.0b6
tiktoken==0.9.0
timescale_vector==0.0.7
tokenizers==0.21.1
torch==2.7.0
torch_npu==2.5.1
tqdm==4.67.1
traitlets==5.14.3
tree_sitter==0.24.0
tree_sitter_languages==1.10.2
trove_classifiers==2025.5.9.12
trubrics==1.8.5
truststore==0.10.1
tweepy==4.15.0
upstash_ratelimit==1.1.0
upstash_vector==0.8.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
vearch_cluster==0.0.2
vegafusion==2.0.2
webcolors==24.11.1
whylogs==1.6.4
wikibase_rest_api_client==0.2.3
wincertstore==0.2.1
wolframalpha==5.1.3
writerai==4.0.1
xarray==2025.6.1
xinference_client==1.7.0.post1
xlrd==2.0.2
xlsxwriter==3.2.5
xmlrpclib==1.0.1
xmltodict==0.14.2
yfinance==0.2.63
youtube_search==2.1.2
youtube_transcript_api==1.1.0
yt_dlp==2025.6.9
zep_python==2.0.2
